{% extends 'base.html' %}

{% block title %}Noticias{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Noticias</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <li>

                                    <form action="/" method="GET">
                                        <button type="submit" class="dropdown-item" name="category"
                                                value="{{ category }}">{{ category }}
                                        </button>
                                    </form>

                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-md-3 justify-content-center news-card">
            {% for news in newsList %}
                <div style="margin-bottom: 2%" class="col">
                    <div class="card px-3 pt-3 g-col-4" style="max-width: 32rem">
                        <div>
                            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
                                 data-mdb-ripple-color="light">
                                <a href="/news/article/{{ news.id }}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <a href="/news/article/{{ news.id }}" class="text-info">
                                        <i class="fas fa-plane"></i>
                                        {{ news.category }}
                                    </a>
                                </div>
                            </div>

                            <a href="/news/article/{{ news.id }}" class="text-dark">
                                <h5>{{ news.title }}</h5>

                                <p>
                                    {{ news.description }}
                                </p>
                            </a>

                            <hr/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}